body {
  font-family: 'Poppins', sans-serif;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #ffe6ee;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 320px;
}

h1 {
  color: #ff3366;
}

.buttons {
  margin-top: 20px;
  position: relative;
  height: 120px;
}

button {
  padding: 12px 22px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#yes {
  background: #ff3366;
  color: white;
}

#no {
  background: white;
  color: #ff3366;
  position: absolute;
}
